body {
  background-color: rgb(59, 170, 214);
}

.CurrencyInput {
  position: relative;
  padding: 1rem 2rem;
  outline: none;
  z-index: 1;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.25rem;
  &-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-content {
    display: flex;
    align-items: center;
    border: 2px solid white;
  }
  &-symbol {
    margin: 0;
    padding-left: 1rem;
    color: white;
    font-size: 1.5rem;
  }
  &-locale,
  &-currency {
    padding: 0.5rem 1rem;
  }
  &-label {
    padding-left: 1rem;
  }
}
